.deps/
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/compile
config.log
config.status
build-aux/config.guess
build-aux/config.sub
configure
build-aux/depcomp
build-aux/install-sh
build-aux/missing
stamp-h1
univalue-config.h*
build-aux/test-driver
libtool
build-aux/ltmain.sh
test-suite.log
build-aux/m4/*
build-aux/pc/
*.a
*.la
*.lo
*.logs
*.o
*.pc
*.trs

.dirstamp
.libs
